<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>M-Car Share My Current Car</title>
</head>
<body>

<div class="container-fluid" id="container">
    <div class="row">
        <div class="col-md-12" id="main">
            <% include ../partials/header %>
            <ul class="breadcrumb" id="breadcrumb">
                <li>
                    <a href="/index" class="active">Home</a>
                </li>
                <li class="active">My Car</li>
            </ul>
            <div class="row" id="contentPanel">
                <% for(var i in bills) { %>
                <div class="col-md-4" id="myCurrentCar-<%= bills[i]._id %>">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa fa-car fa-4x" aria-hidden="true"></i>
                                    <dl id="car-row-<%= bills[i]._id %>">
                                        <dt><%= bills[i].car.carName + ", " + bills[i].car.carModel %></dt>
                                        <dd><%= "$" + bills[i].car.price + " CAD per kilometer" %></dd>
                                        <dd><%= "Drop Off Date: " + bills[i].dropOffDate %></dd>
                                        <dd><%= "Bill no: " + bills[i]._id %></dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" onclick="dropOffCar('<%= bills[i]._id %>', '<%= bills[i].car._id %>');"class="btn btn-success" id="<%= bills[i]._id %>">
                                        Drop Off
                                    </button>
                                    <% if (bills[i].damage == null) {%>
                                    <a id="modal-<%= bills[i]._id %>" href="#modal-container-1" role="button"
                                       onclick="btnDamageReportClicked(<%= bills[i]._id %>)"
                                       class="btn btn-warning reportDamageBTN"
                                       data-toggle="modal">Report Damage</a>
                                    <%}else{%>
                                    <div id= "damageReported-<%= bills[i]._id %>" class="alert alert-dismissible alert-danger" style="margin-top: 5px;">
                                        <strong>Damage Already Reported!</strong> <a href=tel:555-555-5555" class="alert-link"><i class="fa fa-mobile" aria-hidden="true"> Please call us.</i></a>
                                    </div>
                                    <%}%>
                                    <div class="modal fade" id="modal-container-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        ×
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        Report a car damage
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form role="form" id="addDamageReportForm">
                                                        <div class="form-group">
                                                            <label for="select" class=" control-label">Damage
                                                                Type</label>
                                                            <select class="form-control" id="damageType"
                                                                    name="damageType">
                                                                <option value="Rear-end collisions">Rear-end collisions</option>
                                                                <option value="7">Side-impact collisions</option>
                                                                <option value="Side-impact collisions">Sideswipe collisions</option>
                                                                <option value="Vehicle Rollover">Vehicle Rollover</option>
                                                                <option value="Head-on collisions">Head-on collisions</option>
                                                                <option value="Single car accidents">Single car accidents</option>
                                                                <option value="Multi-vehicle pile-ups">Multi-vehicle pile-ups</option>
                                                                <option value="personal injury">personal injury</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>
                                                                Description
                                                            </label>
                                                            <input type="description" required class="form-control"
                                                                   name="description" id="description"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label id="myBill">
                                                            </label>
                                                            <input type="hidden" required class="form-control"
                                                                   name="billno" id="billno">
                                                        </div>
                                                        <input type="hidden" name="carId" id="carId"/>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <input type="submit" class="btn btn-primary" id="addCar"
                                                                   value="Save changes"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <% } %>
                <div class="col-md-12 col-sm-12" id="mainBottom">
                    <h3>
                        Car History
                    </h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                    </div>
                    <% if(billsHistory.length > 0) { %>
                    <table class="table table-striped table-hover table-bordered" id="carTable">
                        <thead>
                        <tr class="success">
                            <th>
                                Name
                            </th>
                            <th>
                                Pick Up Time
                            </th>
                            <th>
                                Drop Off Time
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        </thead>
                        <tbody id="addedCarsBody">
                        <% for(var i in billsHistory) { %>
                        <tr id="car-row-<%= billsHistory[i]._id %>">
                            <td><%= billsHistory[i].car.carName + ", " + billsHistory[i].car.carModel %></td>
                            <td><%= billsHistory[i].pickUpDate %></td>
                            <td><%= billsHistory[i].dropOffDate %></td>
                            <td><%= "$" + billsHistory[i].amount %>
                                <% if(billsHistory[i].isPayed){ %>
                            <td>Payed</td>
                            <% }else{ %>
                            <td id="payStatusField"><a onClick="payBill('<%= billsHistory[i]._id %>')" role="button"
                                                       class="btn btn-primary" data-toggle="tab">Pay Now!</a></td>
                            <% } %>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                    <% }else{ %>
                    <div class="alert alert-dismissible alert-info">
                        <strong>Hey dear member!</strong> Start to find your desired car either <a
                                href="/pages/rentCarByLocation" class="alert-link">By Location</a> or <a
                                href="/pages/rentCarByModel" class="alert-link">By Model.</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Bill Dialog start-->
<% include finalInvoice.ejs %>
<!-- Bill Dialog end -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/scripts.js"></script>
<script src="../js/damageReport.js"></script>
<script>
	function payBill(billId) {
		$.ajax({
			url: '/payBill',
			type: 'post',
			dataType: "json",
			data: {
				billId: billId + "",
			},
			success: function (result) {
				if (result.success) {
					$('#payStatusField').html('payed');
				} else {
					window.location = "/login";
				}
			}
		});
	}
	var firstName = "<%= user.firstName %>" + " " + "<%= user.lastName %>"
	function dropOffCar(billId, carId) {

		var data = {
			billId: billId,
			carId: carId,
			location: TrackCar(-180, 180, 3),
			distanceTravelled: getDistance(1, 1000)
		};

		$.ajax({
			type: 'post',
			url: '/pages/dropOffCar',
			data: data,
			success: function (result) {
				if (result == "ERROR") {
					alert("A problem occured. Try again later.");
				} else {

					$("#contentPanel" + billId).remove();

					$('#username').val(firstName);
					$('#carname').val(result.data.car.carName);
					$('#pickupDate').val(result.data.pickUpDate);
					$('#pickUpTime').val(result.data.pickUpTime);
					$('#dropOffDate').val(result.data.dropOffDate);
					$('#dropOffTime').val(result.data.dropOffTime);
					var amount = Number(result.data.amount) - Number(result.data.discount);
					$('#amount').val(result.data.amount);
					$('#discount').val(result.data.discount);
					$('#totalAmount').val(amount);
					$('#distance').val(result.data.distanceTravelled);
					if (result.data.damage) {
						$('#damage').val(result.data.damage.type);
					} else {
						$('#damage').val('None');
					}
                    $("#myCurrentCar-"+billId).fadeOut("slow",function(){
	                    $('#modal-container-finalInvoice').modal('show');
                    });
				}
			},
			error: function () {
				alert("A problem occured. Try again later.");
			}
		});
	}

	// generate random location
	function TrackCar(from, to, fixed) {
		var location = {
			latitude: (Math.random() * (to - from) + from).toFixed(fixed) * 1,
			longitude: (Math.random() * (to - from) + from).toFixed(fixed) * 1
		}
		return location;
	}

	// generate random distance
	function getDistance(minimum, maximum) {
		return Math.floor(Math.random() * (maximum - minimum + 1)) + minimum;
	}
	function payBill(billId) {
		$.ajax({
			url: '/payBill',
			type: 'post',
			dataType: "json",
			data: {
				billId: billId + "",
			},
			success: function (result) {
				if (result.success) {
					$('#payStatusField').html('payed');
				} else {
					window.location = "/login";
				}
			}
		});
	}

</script>
</body>